@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0070f3;
  --secondary: #ff4081;
  --bg: #f5f5f5;
  --text: #333333;
}



body {
  color: var(--text);
  background: var(--bg);
  font-family: 'Poppins', sans-serif;
}
